<!DOCTYPE html>
<html>
<head>
  <title>Drive</title>
  <%= stylesheet_link_tag    "drive/application", media: "all" %>
  <%= javascript_include_tag "drive/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
