<!DOCTYPE html>
<html>
<head>
  <title>Drive</title>
  <link rel="stylesheet" href="/plugins/Drive/drives/example/app.css">
  <script src="/plugins/Drive/drives/example/app.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
